.customed {
  display: flex;
  gap: 8px;
  align-items: center;

  b {
    color: #4e9986;
  }

  h6 {
    padding: 0;
  }

  > img {
    margin: 0;
    border-radius: 100px;
    width: 20%;
  }
}

.customed_info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 1rem;

  a {
    margin: 0;
  }
}

.section--related-posts {
  h3 {
    padding: 0;
  }
}

code {
  word-spacing: 0.4rem;
}
